<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Disabled</key>
    <false/>
    <key>Label</key>
    <string>org.pwiddershoven.airplayer</string>
    <key>ProgramArguments</key>
    <array>
        <string>path/to/airplayer.py</string>
        <string>--logfile</string>
        <string>~/Library/Logs/airplayer.log</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>OnDemand</key>
    <true/>
</dict>
</plist>